[build-system]
requires = ["setuptools", "setuptools_scm[toml]"]
build-backend = "setuptools.build_meta"

[project]
name = "gadopt"
authors = [
  { name = "G-ADOPT Contributors" }
]
description = "A computational platform for inverse geodynamics"
dynamic = ["version"]
readme = "README.md"
classifiers = [
  "Programming Language :: Python :: 3",
  "License :: OSI Approved :: MIT License",
  "Operating System :: OS Independent"
]
dependencies = [
  "vtk>=9.0.1",
]

[project.optional-dependencies]
demos = ["assess", "gmsh", "imageio", "jupytext", "matplotlib", "openpyxl", "pandas", "pyvista", "shapely"]
optimisation = ["pyroltrilinos"]

[tool.setuptools]
packages = ["gadopt"]

[tool.setuptools_scm]