[build-system]
requires = ["setuptools", "setuptools_scm[toml]"]
build-backend = "setuptools.build_meta"

[project]
name = "gadopt"
authors = [
  { name = "G-ADOPT Contributors" }
]
description = "A computational platform for inverse geodynamics"
dynamic = ["version"]
readme = "README.md"
classifiers = [
  "Programming Language :: Python :: 3",
  "License :: OSI Approved :: MIT License",
  "Operating System :: OS Independent"
]
dependencies = [
  "pandas",
  "shapely",
  "vtk",
  "irksome @ git+https://github.com/firedrakeproject/Irksome",
]

[project.optional-dependencies]
demos = ["assess", "gadopt-demo-utils @ git+https://github.com/g-adopt/gadopt-demo-utils.git", "gmsh", "imageio", "jupytext", "openpyxl", "pyvista"]
optimisation = ["pyroltrilinos"]

[tool.setuptools]
packages = ["gadopt", "gadopt.gplates", "gadopt.demos"]
package-dir = { "gadopt.demos" = "demos" }

[tool.setuptools_scm]
