name: Run lint

on: [push, pull_request]

jobs:
  linter:
    name: "Run linter"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install linter
        run: |
          python3 -m pip install flake8 pylint
      - name: Lint
        run: |
          make lint
